* {
  list-style: none;
}

body {
  margin: 0;
}

button {
  box-shadow: 3px 3px 1px 0.1px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
}

button:hover,
button:active {
  background-color: #54c9b7;
  color: #17192d;
}

input {
  border-bottom: 1px solid #48494b;
  margin-top: 10px;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: 'Poppins', sans-serif;
  color: #4bc9b4;
  width: 11rem;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.leaderboard-list {
  padding: 0;
  width: 20rem;
  background-color: #0f0f17;
  box-shadow: -20px -10px 1px 1px hsl(171deg 52% 56%);
}

.leaderboard-list li {
  padding: 2px;
  padding-left: 5px;
}

.Add-list {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin-bottom: 18rem;
}

.Add-list button {
  margin-top: 10px;
}

main {
  background-color: #17192d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-list p {
  color: #ffff;
}

hr {
  background-image: url('./Capture.PNG');
  background-repeat: no-repeat;
  background-color: #494950;
}
